<div class="relative overflow-x-auto shadow-md sm:rounded-lg">
  <table class="w-full text-sm text-left text-gray-500">
    <caption class="p-5 text-lg font-semibold text-left text-gray-900 bg-white">
      <div class="flex items-center">
        Account <div class="text-sm text-gray-400 px-2">(ID <%= @account.account_id %>)</div> transactions
      </div>
      <p class="mt-1 text-sm font-normal text-gray-500">
        A transaction represents a movement of funds.
      </p>
    </caption>
    <% if @transactions.present? %>
      <thead class="text-xs text-gray-700 uppercase bg-gray-50">
        <tr>
          <th scope="col" class="px-6 py-3">
            #ID
          </th>
          <th scope="col" class="px-6 py-3">
            Made on
          </th>
          <th scope="col" class="px-6 py-3">
            Category
          </th>
          <th scope="col" class="px-6 py-3">
            Description
          </th>
          <th scope="col" class="px-6 py-3">
            Status
          </th>
          <th scope="col" class="px-6 py-3">
            Amount
          </th>
        </tr>
      </thead>
      <tbody>
        <% @transactions.each do |transaction| %>
          <tr class="bg-white border-b">
            <td class="px-6 py-4">
              <%= transaction.transaction_id %>
            </td>
            <td class="px-6 py-4">
              <%= transaction.made_on %>
            </td>
            <td class="px-6 py-4">
              <%= transaction.category&.humanize %>
            </td>
            <td class="px-6 py-4">
              <%= transaction.description %>
            </td>
            <td class="px-6 py-4">
              <%= transaction.status %>
            </td>
            <td class="px-6 py-4">
              <%= "#{transaction.amount} #{transaction.currency_code}" %>
            </td>
          </tr>
        <% end %>
      </tbody>
    <% end %>
  </table>
</div>
